name: Maven Build Pipeline

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up JDK 11
      uses: actions/setup-java@v4
      with:
        java-version: '11'
        distribution: 'temurin'
        cache: 'maven'

    - name: Build with Maven
      # The fat JAR will be created by the assembly plugin defined in pom.xml
      run: mvn -B package --file pom.xml -DskipTests

    - name: Upload Artifact (The MapReduce JAR)
      uses: actions/upload-artifact@v4
      with:
        name: phi-pipeline-jar
        # Find the JAR created by the maven-assembly-plugin
        path: target/*-jar-with-dependencies.jar
